<!DOCTYPE html>
<html>
    <head>
        <title>Euroweather</title>
    </head>
    <body>
		<h1 style="color:red;">The site is currently undergoing maintenance. Please check again later</h1>

		<h1>Euroweather</h1>
		<p>This service provides location based synthetic seasonal weather data for Europe. It is 
		based on gridded weather forecasts from Deutsche Wetterdienst, downloaded and stored 
		throughout the season.The data for each location is interpolated from the 7*7km grid. The parameters provided are:
		</p>
		<ul>
			<li>Air temperature at 2m (&deg;C)</li>
			<li>Relative humidity at 2m (%)</li>
			<li>Wind speed at 10m (m/s)</li>
			<li>Precipitation (mm)</li>
		</ul>
		<p>The log interval is either hourly (default) or daily</p>
		<p>When a request for a specific location is made for the first time during a season, the data 
		from January 1st to the request date needs to be collected from the backend's 
		rather big archive of NetCDF files. Thus, the user will not get the data immediately from the first 
		request. These location initializations take place once or every second hour (depending on the 
		backend server's capacity). After that, the data is cached in this service's database for 
		quick/immediate access, and daily requests to the backend ensure that the database 
		stays up-to-date.</p>
		
		<p>This service is part of the <a href="https://ipmdecisions.net/" target="new">IPM Decisions platform</a></p>
		
	
    </body>
</html>